* { margin:0; padding: 0;}

/* loading font family */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf');
}

/* main application settings */
#app {
    min-width: 1200px;
    background-color: #333333;
}

#container {
    width: 1200px;
    margin: 0 auto;
}

#app__title {
    color: #65e674;
    font-family: 'Roboto-Bold', sans-serif;
    text-align: center;
    padding: 50px 0 25px 0;
}

/* create a new task object */
#app__task {
    width: 500px;
    margin: 0 auto 50px;
}

#task-input {
    height: 20px;
    width: 420px;
    margin: 0 10px 0 0;
    padding: 10px;
}

#task-add-button {
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: 0;
}

/* button event */
#task-add-button:hover, .task button:hover {
    cursor: pointer;
}


/* button icon event */
#task-add-button:hover i, .task button:hover i {
    cursor: pointer;
    color: #fff;
}

#task-add-button i, .task button i {
    color: #65e674;
}

/* tags used by listed tasks */
#app__list-tasks {
    padding: 30px 20px;
    border: 1px solid #fff;
    width: 500px;
    margin: 10px auto 0;
    border-radius: 5px;
}

#app__list-tasks p {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.task {
    width: 400px;
    height: 40px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.task button, .task p {
    display: inline;
}

.task button {
    display: inline;
    background-color: transparent;
    border: 0;
}

.task button i {
    font-size: 16px;
}

.checked {
    text-decoration: line-through;
}

.task__checkbox {
    padding: 0 10px 0 0;
}

.task__delete {
    padding: 0 0 0 10px;
}







